md-sidenav {
  width: 300px;
}

.mat-list {
  padding-top: 0;
  button {
    text-align: start;
    color: aqua;
    border: 2px solid aqua;
    &:hover {
      background-color: aqua;
      color: white;
    }
  }
  md-list-item {
    margin-bottom: 4px;
  }
}

md-divider {
  margin: 0;
}

.fixed-header {
  top: 0;
  position: fixed;
  z-index: 999;
}

.fixed-sidenav {
  top: 64px;
  position: absolute;
}

footer {
  padding: 16px;
  .mat-display-2 {
    margin-bottom: 0;
  }
}

.sidenav-btn {
  line-height: 20px;
}

.mat-drawer {
  background-color: transparent;
}
