md-sidenav {
  width: 300px;
}

.mat-list {
  padding-top: 0;
  button {
    width: 100%;
    height: 100%;
    text-align: start;
  }
}

md-divider {
  margin: 0;
}

.fixed-header {
  top: 0;
  position: fixed;
  z-index: 999;
}

.fixed-container {
  top: 64px;
  position: absolute;
}
