<div fxLayout="column" fxFlexFill>
  <div id="splash" class="parallax img-desaturated" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-3 no-margin">I am <strong>Harish Vangavolu</strong></h1>
    <h1 class="mat-h1">{{splashText.subHeading}}</h1>
    <button md-fab pageScroll pageScrollTarget="#about"><md-icon>keyboard_arrow_down</md-icon></button>
  </div>
  <div id="about" class="container section" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-h1">
      About <strong>Me</strong>
    </h1>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayoutWrap fxFlexFill>
      <div fxFlex="30%" fxFlex.lt-md="none" fxFlexFill *ngFor="let card of aboutText.cards">
        <md-card class="about-card">
          <md-card-content>
            <h1 class="mat-card-title">{{card.title}}</h1>
            <p class="mat-card-content">
              {{card.content}}
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
  <div id="work" class="section" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-h1">
      My <strong>Work and Abilities</strong>
    </h1>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="space-between top" fxLayoutWrap fxFlexFill>
      <div fxFlex="48%" fxFlex.lt-md="none">
        <blockquote *ngFor="let work of experienceText.work">
          <h2 class="mat-h2 no-margin">{{work.company}}</h2>
          <h3 class="mat-h3 no-margin">{{work.role}}</h3>
          <h3 class="mat-h3">{{work.dates}}</h3>
          <p class="mat-body">{{work.objective}}</p>
        </blockquote>
      </div>
      <div fxFlex="48%" fxFlex.lt-md="none">
        <div class="container" fxLayout="column">
          <div *ngFor="let skill of skillsText.skills">
            <h2 class="mat-h2 work-level-h2">{{skill.name}}</h2>
            <md-progress-bar color="accent" mode="determinate" [value]="skill.level"></md-progress-bar>
          </div>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between top" fxLayoutWrap>
            <div fxFlex="100%">
              <h2 class="mat-h2 work-level-h2">My Favorite Frameworks and APIs</h2>
            </div>
            <a target="_blank" *ngFor="let framework of frameworkText.frameworks" [href]="framework.link" [mdTooltip]="framework.name">
              <img class="img-64" [src]="framework.img">
            </a>
          </div>
          <a [href]="resumeLink" target="_blank" class="cv-btn uppercase" md-raised-button>curriculum vitae</a>
        </div>
      </div>
    </div>
  </div>
  <div id="process" class="container section" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-h1">
      Process of <strong>Creating</strong>
    </h1>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <md-tab-group fxFlex="68%" fxFlex.lt-md="100%">
        <md-tab *ngFor="let process of processText.processes" [label]="process.name">
          <h1>{{process.heading}}</h1>
          <p>
            {{process.content}}
          </p>
        </md-tab>
      </md-tab-group>
      <img fxFlex="30%" fxHide.lt-md="true" src="https://www.aaravinfotech.com//wp-content/uploads/2016/07/social-media-marketing-1-400x333.png">
    </div>
  </div>
  <div id="contact" class="container section" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-h1">
      Contact <strong>Me</strong>
    </h1>
    <p class="mat-subheading-1">{{contactText.message}}</p>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap fxFlexFill>
      <form fxLayout="column" fxLayoutAlign="center center" fxFlex="88%" fxFlex.lt-md="100%">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayoutWrap fxFlexFill>
          <md-form-field fxFlex="48%" fxFlex.lt-md="100%"><input mdInput placeholder="Your Name"></md-form-field>
          <md-form-field fxFlex="48%" fxFlex.lt-md="100%"><input mdInput placeholder="Your Email"></md-form-field>
        </div>
        <md-form-field fxFlexFill><input mdInput placeholder="Subject"></md-form-field>
        <md-form-field fxFlexFill><textarea mdInput placeholder="Your Message"></textarea></md-form-field>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
          <button class="uppercase" md-button>Send</button>
        </div>
      </form>
      <div fxLayout="column" fxLayoutGap="5px" fxFlex="10%" fxFlex.lt-md="100%">
        <a md-raised-button class="ext-contact-btn" target="_blank" [href]="socialLinks.linkedin">My LinkedIn</a>
        <a md-raised-button class="ext-contact-btn" target="_blank" [href]="socialLinks.github">My GitHub</a>
        <a md-raised-button class="ext-contact-btn" target="_blank" [href]="socialLinks.stackoverflow">My Stack Exchange</a>
        <a md-raised-button class="ext-contact-btn" target="_blank" [href]="socialLinks.codefights">My Code Fights</a>
      </div>
    </div>
  </div>
</div>
