<div fxLayout="column" fxFlexFill>
  <div class="parallax img-desaturated" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-3 no-margin">I am Harish Vangavolu</h1>
    <h1 class="mat-h1">Web Developer and Next Level Dude</h1>
    <button md-fab color="primary"><md-icon>keyboard_arrow_down</md-icon></button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-h1">
      About Me
    </h1>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center space-around" fxLayoutGap="5px" fxLayoutWrap fxFlexFill>
      <div fxFlex="30%" fxFlex.lt-md="none">
        <md-card>
          <md-card-content>
            <h1 class="mat-card-title">My Inspiration</h1>
            <p class="mat-card-content">
              I think that to live is to be driven, to grow, and most importantly, to be happy. I don't see what I do as a software developer or designer as a job, but a form of self-fulfillment.
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="30%" fxFlex.lt-md="none">
        <md-card>
          <md-card-content>
            <h1 class="mat-card-title">My Work</h1>
            <p class="mat-card-content">
              My work process involves more than just a plan of how I should finish the next assignment. I envision the future of all my projects and work to grow them.
            </p>
          </md-card-content>
        </md-card>
      </div><div fxFlex="30%" fxFlex.lt-md="none">
      <md-card>
        <md-card-content>
          <h1 class="mat-card-title">My Ambition</h1>
          <p class="mat-card-content">
            My most dear aspiration is to be the best artist, long-distance runner, and explorer in the software industry.
          </p>
        </md-card-content>
      </md-card>
    </div>
    </div>
  </div>
</div>
